{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
</head>

<body>
    <div class="container">
        <form action="{% url 'signup' %}" method="POST" onsubmit="signup()">
            {% csrf_token %}
            <h2 class="first_title">登録</h2>
            <p class="first_sub_title" id="sub_title">It's quick and easy.</p>
            <hr />

            <div class="input">
                <input type="text" placeholder="性" class="first_name" id="all" required />
                <input type="text" placeholder="名" class="last_name" id="all" required />
                <br />
                <input type="email" placeholder="電話番号またはメールアドレス" id="all1" name='username' required />
                <br />
                <input type="password" placeholder="新しいパスワード" id="all1" name='password' required />
                <br />
                <input type="submit" value="登録" class="submit" />

            </div>
        </form>
    </div>
</body>

</html>